.formNewText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formNewText textarea {
    border: 1px solid black;
    border-radius: .4rem;
    width: 70%;
    max-width: 40rem;
    height: 7rem;
    font-size: x-large;
    padding: .5rem;
    resize: none;
}

.formNewText textarea:focus-visible {
    outline: none;
}

.formNewText button {
    border-radius: 2rem;
    max-height: 2.5rem;
    padding: .5rem;
    min-width: 120px;
    transition: 0.3s;
    font-size:medium;
    background-color: black;
    color: white;
    opacity: 0.8;
    
}

.formNewText button:hover {
    cursor: pointer;
    opacity: 1;
}