.saveTexts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-texts {
    border: 1px black solid;
    background-color: white;
    border-radius: .3rem;
    padding: .7rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.text-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-break:normal;
    border-bottom: 1px rgb(0, 0, 0, 0.6) solid;
    max-width: 950px;
    padding: .5rem;
    padding-top: 0;
}

.aditional-content {
    display: flex;
    gap: 0.8rem;
}

.aditional-content button {
    border: black 1px solid;
    margin: 0;
    padding: 0;
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    font-size: x-small;
    transition: 0.3s;
}

.aditional-content button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.aditional-content span {
    font-size: smaller;
    display: flex;
    margin-left: auto;
}