.home {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.home form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home textarea {
    border: 1px solid black;
    border-radius: .4rem;
    width: 70%;
    max-width: 40rem;
    height: 7rem;
    font-size: x-large;
    padding: .5rem;
}

.home textarea:focus-visible {
    outline: none;
}

.home button {
    border-radius: 2rem;
    max-height: 2.5rem;
    padding: .5rem;
    min-width: 120px;
    transition: 0.3s;
    font-size:medium;
    background-color: black;
    color: white;
    opacity: 0.8;
    
}

.home button:hover {
    cursor: pointer;
    opacity: 1;
}

.saveTexts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-texts {
    border: 1px black solid;
    background-color: white;
    border-radius: .3rem;
    padding: .7rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.text-card {
    display: flex;
    justify-content: center;
    word-break:normal;
    border-bottom: 1px rgb(0, 0, 0, 0.6) solid;
    max-width: 950px;
    padding: .5rem;
    padding-top: 0;
}